Package: com.michaelmelita.11cam
Name: 11Cam
Depends: mobilesubstrate, firmware (>= 13.0)
Version: 0.0.3
Architecture: iphoneos-arm
Description: iPhone 11 Cam for iOS 13
Maintainer: Michael Melita
Author: Michael Melita
Section: Tweaks
